@tailwind base;
@tailwind components;
@tailwind utilities;

.p-datatable-column-resizer {
  background-color: white ;
  width: 1px ;
  opacity: 0 ;
}

th:hover .p-datatable-column-resizer {
  background-color: black ;
  width: 0px;
}